
html{
  font-family: 'Poppins', sans-serif;
}

/* Navbar */

.nav-link{
  font-size: 1.2rem;
  font-weight: 700;
}


 /* Header */

.header{
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.3)),url('../images/container-wharf-in-nightfall-international-import-2022-02-01-23-42-58-utc-min.jpg');
  min-height: 500px;
  background-size: cover;
  background-position:center;
}

/* Partners */


.partners-title{
  display: inline-block;
  border-bottom: 5px dotted red;
  padding-bottom: 1rem;
}
.partner-row{
  visibility: visible;
}

/* About */
.about-title{
  display: inline-block;
  border-bottom: 5px dotted white;
  padding-bottom: 1rem;
}

.about-img{
  border-radius: 8px;
}

/* Services */

.services-title{
  display: inline-block;
  border-bottom: 5px dotted red;
  padding-bottom: 1rem;
}
.box{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* Contact */

.contact-title{
  display: inline-block;
  border-bottom: 5px dotted red;
  padding-bottom: 1rem;
}

.contact-bg{
  background-color: #dcdcdc;
}
